@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;500&display=swap');



.countShow{
    background-color: transparent;
    color: rgb(139, 7, 84);
    position: absolute;
    width: 170px;
    top:94px;
    left:79px;
    text-align: right;
    font-size: 40px;
    font-family: 'Saira', sans-serif;
    font-weight: 400;
}
.counterBtn,
.resetBtn{
    border: none;
    outline: none;
    border-radius: 50%;
    position: absolute;
    background-color: transparent ;
}
.counterBtn{
    width: 80px;
    height: 80px;
    top:52%;
    left:134px;
    
}

.resetBtn{
    width: 32px;
    height: 32px;
    top:44%;
    left:218px;
}